@import '../../Globalstyles.css';

.selection {
  width: 100%;
}
.agreement {
  text-align: center;
}

.selection p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-top: 0.4rem;
}

.selection img {
  max-width: 80%;
}

.main-color {
  color: var(--main-color);
}

@media screen and (min-width: 1024px) {
  .selection {
    width: 50%;
  }

  .selection Button {
    width: 100%;
  }
}
