@import '../../Globalstyles.css';

.selection {
  width: 100%;
}
.agreement {
  text-align: center;
}

.selection p {
  font-size: 0.8rem;
  line-height: 1rem;
}

.selection img {
  max-width: 80%;
}

.main-color {
  color: var(--main-color);
}
