.perk {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin-right: 1.3rem;
  padding-right: 3rem;
  object-fit: contain;
}

.plan {
  background: url("../../../static/icons/plan.svg") no-repeat;
}
.exercise {
  background: url("../../../static/icons/exercise.svg") no-repeat;
}
.shoe {
  background: url("../../../static/icons/shoe.svg") no-repeat;
}
.diet {
  background: url("../../../static/icons/diet.svg") no-repeat;
}
.whistle {
  background: url("../../../static/icons/whistle.svg") no-repeat;
}
.smartwatch {
  background: url("../../../static/icons/smartwatch.svg") no-repeat;
}
.bookcheck {
  background: url("../../../static/icons/bookcheck.svg") no-repeat;
}

.perk h4 {
  font-size: 0.8rem;
  margin: 0.2rem 0;
}

.perk span {
  font-size: 0.8rem;
  color: var(--secondary-dark);
}
