
.button {
  background-color: var(--main-color);
  color: white;
  font-weight: 800;
  display: block;
  min-width: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 0.6rem 0.6rem rgba(250, 195, 94, 0.247);
  border: none;
  height: 2.5rem;
  margin: 1rem 0;
  cursor:pointer;
  transform: scale(1);

}

@media screen and (min-width: 1024px) {
  .button {
    min-width: 20rem;
    margin: 1rem auto;
  }
  .button:hover {
    transform: scale(1.1) ;
    transition: all 400ms ease;
  }
}
