.pros-list {
  width: 100%;
}
.pros-list ul {
  list-style: none;
  padding: 0;
}
.pros-list li {
  display: flex;
  align-items: center;
}

.pros-list i {
  background-color: transparent;
  color: rgb(12, 207, 12);
  font-size: 2rem;
  margin-right: 1rem;
}

.pros-list h5 {
  font-weight: normal;
  font-size: 1.1rem;
  margin: 0.3rem;
}
