.one-card {
  width: 100%;
  padding: 1rem;
  box-shadow: 0.35rem 0.35rem 0.35rem 0.35rem rgba(192, 192, 192, 0.178);
  border-radius: 0.8rem;
}

.one-card h3 {
  margin-top: 0.8rem;
  margin-bottom: 0;
  font-size: 1rem;
}
.one-card h5 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 0.7rem;
}

.one-card img {
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
  margin-top: 1rem;
}

.one-card p {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.btn {
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .one-card {
    width: 32%;
  }
}
