/* Global styles */

* {
  font-family: 'Helvetica Neue';
  box-sizing: border-box;
}

.main-color {
  color: orange;
}

.App {
  width: 95%;
  margin: 0 auto;
}

.fa-check-circle-o {
  color: rgb(201, 201, 201);
  background-color: rgb(201, 201, 201);
  border-radius: 50%;
}

.fa-check-circle {
  color: orange;
  font-weight: normal;
}
