.outside-container {
  width: 100%;
  text-align: center;
}
.container {
  width: 90%;
  margin: 0 auto;
}

.logo {
  padding: 0.8rem 0;
  border-bottom: 0.06rem solid var(--secondary-color);
}

@media screen and (min-width: 1024px) {
  .container {
    width: 60%;
  }
  .background {
    background-color: rgba(236, 234, 234, 0.658);
  }
  .logo {
    padding: 1.2rem 0;
    background-color: snow;
    border-bottom: none;
  }
}
